appdirs==1.4.4
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
clarabel==0.7.1
contourpy==1.2.1
cvxpy==1.4.2
cycler==0.12.1
DateTime==5.5
ecos==2.0.13
fonttools==4.51.0
frozendict==2.4.1
html5lib==1.1
idna==3.7
joblib==1.4.0
kiwisolver==1.4.5
lxml==5.2.1
matplotlib==3.8.4
multitasking==0.0.11
numpy==1.26.4
osqp==0.6.5
packaging==24.0
pandas==2.2.2
pandas-datareader==0.10.0
patsy==0.5.6
peewee==3.17.1
pillow==10.3.0
pybind11==2.12.0
pyparsing==3.1.2
pyportfolioopt==1.5.5
python-dateutil==2.9.0.post0
pytz==2024.1
qdldl==0.1.7.post1
requests==2.31.0
scikit-learn==1.4.2
scipy==1.11.4
scs==3.2.4.post1
six==1.16.0
sklearn==0.0
soupsieve==2.5
statsmodels==0.14.1
threadpoolctl==3.4.0
tzdata==2024.1
urllib3==2.2.1
webencodings==0.5.1
yfinance==0.2.37
zope.interface==6.2
